# Objetos compilados
*.o

# Ejecutables
push_swap
checker
checker_linux

# Archivos generados por Make
*.out
*.a

# Libft compilada
libft/libft.a

# Carpetas de compilación
build/
bin/

# Visualizador
push_swap_visualizer/
push_swap_visualizer
*.visualizer

# Documentos del proyecto
es.subject.pdf
subject.pdf
*.pdf

# Zone identifiers
*:Zone.Identifier

# Archivos de debugging temporal
*.debug
*.tmp

# To do list
todo.md

# Archivos específicos de IDEs
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db
